{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>My News App</title>
		
		<meta name="description" content="My Awesome News Website.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<header>
				<!-- TODO Add Header Content -->
			</header>
			
			<nav>
				<!-- TODO Add Navigation Content -->
			</nav>
			
			<main>
				{% block content %}{% endblock %}
			</main>
			
			<footer>
				<!-- TODO Add Footer Content -->
			</footer>
		</div>
	</body>
</html>