{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- Page Content -->
	<div class="content-wrapper">
		<div class="content-heading">
	    	<div class="pull-right">
	          	<div class="btn-group">
	             	<a href="{% url 'new-feed' %}" class="btn btn-default">New Feed</a>
	          	</div>
	       	</div>
	       	News Articles
		</div>
		<div id="loading-wrapper">
			<div class="sk-cube-grid">
			  	<div class="sk-cube sk-cube1"></div>
			  	<div class="sk-cube sk-cube2"></div>
			  	<div class="sk-cube sk-cube3"></div>
			  	<div class="sk-cube sk-cube4"></div>
			  	<div class="sk-cube sk-cube5"></div>
			  	<div class="sk-cube sk-cube6"></div>
			  	<div class="sk-cube sk-cube7"></div>
			  	<div class="sk-cube sk-cube8"></div>
			  	<div class="sk-cube sk-cube9"></div>
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>
		
		<div id="articles-wrapper" class="row">
			<!-- Insert Articles Here with JavaScript -->
		</div>
		
		<!-- Custom Articles List JavaScript -->
		<script src="{% static 'js/loading.js' %}"></script>
		<script src="{% static 'js/articles.js' %}"></script>
	</div>
{% endblock %}

{% block footer %}
	<div class="pagination-wrapper" style="display: none;">
		<div class="col-sm-12 text-center">
			<nav>
				<ul class="pager">
			        {% if articles.has_previous %}
						<li class="previous">
							<a href="?page={{ articles.previous_page_number }}"><span aria-hidden="true">←</span>Previous Page</a>
						</li>
					{% endif %}
				
					{% if articles.has_next %}
						<li class="next">
							<a href="?page={{ articles.next_page_number }}">Next Page <span aria-hidden="true">→</span></a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
