{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	<!-- Articles Sidebar -->
    <aside class="aside">
       	<div class="aside-inner">
          	<nav data-sidebar-anyclick-close="" class="sidebar">
             	<ul class="nav">
                	<li class="nav-heading">
                   		<span>Feed Navigation</span>
                	</li>
                	<li class="active">
                   	 	<a href="{% if feed %}{{ request.path }}{% else %}{% url 'articles-list' %}{% endif %}" title="News Articles">
                      		<em class="icon-grid"></em>
                      	  	<span>All Articles</span>
                   	 	</a>
                	</li>
					<li>
						<a href="#nav-settings" title="Feed Settings" data-toggle="collapse" aria-expanded="true">
							<em class="icon-settings"></em>
							<span>Feed Settings</span>
						</a>
						<ul id="nav-settings" class="nav sidebar-subnav collapse in" aria-expanded="true">
							<li class="sidebar-subnav-header">Feed Settings</li>
							<li>
								<a href="{{ request.path }}?days=7" title="Articles from Last 7 Days">
									<span>Last 7 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=30" title="Articles from Last 30 Days">
									<span>Last 30 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=90" title="Articles from Last 90 Days">
									<span>Last 90 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=180" title="Articles from Last 6 Months">
									<span>Last 6 Months</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=365" title="Articles from Last 12 Months">
									<span>Last 12 Months</span>
								</a>
							</li>
						</ul>
					</li>
             	</ul>
          	</nav>
       	</div>
   	</aside>
{% endblock %}

{% block content %}
	<!-- Page Content -->
	<div class="content-wrapper">
		<div class="content-heading">
	    	<div class="pull-right">
	          	<div class="btn-group">
	             	<button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
	          	</div>
	       	</div>
			{% if feed %}
				{{ feed.title }}
			{% else %}
	       		News Articles
			{% endif %}
		</div>
		<div id="loading-wrapper">
			<div class="sk-cube-grid">
			  	<div class="sk-cube sk-cube1"></div>
			  	<div class="sk-cube sk-cube2"></div>
			  	<div class="sk-cube sk-cube3"></div>
			  	<div class="sk-cube sk-cube4"></div>
			  	<div class="sk-cube sk-cube5"></div>
			  	<div class="sk-cube sk-cube6"></div>
			  	<div class="sk-cube sk-cube7"></div>
			  	<div class="sk-cube sk-cube8"></div>
			  	<div class="sk-cube sk-cube9"></div>
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>

		<div id="articles-wrapper" class="row-masonry row-masonry-lg-3">
			<!-- Insert Articles Here with JavaScript -->
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div id="pagination-wrapper" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<!-- Custom Articles List JavaScript -->
	<script src="{% static 'js/loading.js' %}"></script>
	<script src="{% static 'js/pagination.js' %}"></script>
	<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
