{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="content-wrapper">
	<div class="content-heading">
    	<div class="pull-right">
          	<div class="btn-group">
             	<a href="{% url 'new-feed' %}" class="btn btn-default">New Feed</a>
          	</div>
       	</div>
       News Feeds
    </div>
    <div class="row">
    	<div class="col-xs-12">
			<ul>
				{% for feed in feeds %}
					<li><a href="{{ feed.url }}" title="{{ feed.title }}">{{ feed.title }}</a></li>
				{% endfor %}
			</ul>
       	</div>
    </div>
</div>
{% endblock %}